@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.individual-wrapper {
    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h5 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-transform: capitalize;
        color: #595959;
       }
        .search-customer {
            flex: 1;
            max-width: 220px;
            padding-left: 30px;
      
            &.show {
              @include media-breakpoint-down(sm){
                position: absolute;
                width: 100%;
                top: 0;
                padding-left: 0;
                background-color: #eff0f4;
                .search-box {
                  width: 100%;
                  .search-input {
                    padding-right: 35px;
                  }
                }
              }
            }
            .search-box {
              position: relative;
              transition: width 0.5s ease-in-out;
              @include media-breakpoint-down(sm) {
                width: 45px;
                height: 45px;
                margin-left: auto;
              }
              .search-input {
                background: #FFFFFF;
                border: none;
                border-radius: 25px;
                padding: 13px 22px;
                font-family: Montserrat;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #8D8D8D;
                width: 100%;
                outline: none;
                @include media-breakpoint-down(sm) {
                  font-size: 12px;
                }
              }
              .search-btn {
                position: absolute;
                top: 8px;
                right: 22px;
                background-color: transparent;
                border: none;
                outline: none;
                @include media-breakpoint-down(sm) {
                  right: 8px;
                }
              }
            }
          }
    }
    .recent-list {
        margin-bottom: 24px;
        @include media-breakpoint-down(lg) {
          margin-right: 10px;
          flex: 1;
          &:last-child {
            margin-right: 0;
          }
        }
        &.light-blue {
          .recent-card {
            background-color: #80C2FF;
          }
        }
       
        .recent-card {
          border-radius: 15px;
          border: none;
          @include media-breakpoint-down(lg) {
            height: 100%;
          }
          .card-body {
            padding: 20px 35px;
            @include media-breakpoint-down(md) {
              padding: 20px 25px;
            }
            .card-title {
              text-align: center;
              font-family: Montserrat;
              font-weight: 500;
              font-size: 24px;
              line-height: 29px;
              color: #FFFFFF;
              margin-bottom: 18px;
            }
            .detail-list {
              margin-bottom: 18px;
              &:last-child {
                margin-bottom: 0;
              }
              .detail-list-left {
                flex: 1;
                &:last-child {
                    text-align: right;
                }
                span {
                  font-family: Montserrat;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 17px;
                  color: #FFFFFF;
                  display: block;
                }
                label {
                  font-family: Montserrat;
                  font-weight: bold;
                  font-size: 12px;
                  line-height: 15px;
                  color: #FFFFFF;
                  margin-bottom: 0;
                }
                .card-link {
                  font-family: Montserrat;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 22px;
                  color: #FFFFFF;
                  display: block;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .all-customer-wrapper {
        flex: 1;
         margin-top: 35px;
        width: 100%;
        @include media-breakpoint-down(lg) {
          margin-left: 0;
        }
        .all-customer-data {
          background: #FFFFFF;
          border-radius: 15px;
       
          .customer-table {
            @include media-breakpoint-down(sm){
              display: none;
            }
            .table-responsive {
              .table {
                margin-bottom: 0;
                @include media-breakpoint-down(md) {
                  min-width: 715px;
                }
                tr {
                  &:hover {
                    td {
                      background: rgba(231, 231, 231, 0.25);
                    }
                  }
                  th {
                    font-family: Montserrat;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                    padding: 18px 15px;
                    border-top: none;
                    border-bottom: 1px solid #E7E7E7;
                    &:nth-of-type(4) {
                      padding-left: 32px;
                      width: 6%;
                      @include media-breakpoint-down(md) {
                        padding-left: 24px;
                      }
                    }
                    &:nth-child(5) {
                        text-align: left;
                        width: 7%;
                    }
                    &:nth-last-child(2) {
                        padding-right: 32px;
                        width: 13%;
                        @include media-breakpoint-down(md) {
                          padding-right: 24px;
                        }
                    }
                    &:last-child {
                      padding-right: 32px;
                      width: 6%;
                      text-align: right;
                      @include media-breakpoint-down(md) {
                        padding-right: 24px;
                      }
                    }
                    &:nth-child(1) {
                        text-align: left;
                        width: 3%;
                    }
                  
                    // &:nth-child(4) {
                    //   text-align: center;
                    //   width: 15%;
                    // }
                  }
                  td {
                    font-family: Montserrat;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #000000;
                    padding: 18px 15px;
                    border-top: none;
                    border-bottom: none;
                    vertical-align: middle;
                    &:nth-of-type(4) {
                      padding-left: 32px;
                      text-align: left;
                      @include media-breakpoint-down(md) {
                        padding-left: 24px;
                      }
                    }
                    &:nth-last-child(2) { 
                        padding-right: 32px;
                        @include media-breakpoint-down(md) {
                          padding-right: 24px;
                        }
                    }
                    &:last-child {
                      padding-right: 32px;
                      text-align: right;
                      @include media-breakpoint-down(md) {
                        padding-right: 24px;
                      }
                    }
                    &:nth-child(2), &:nth-child(3) {
                        text-align: center;
                      }
                      .add {
                          display: flex;
                          align-items: flex-start;
                          flex-direction: column;
                          h6 {
                              margin-bottom: 0;
                              font-size: 12px;
                              font-weight: 600;
                          }
                      }
                    .location-col {
                       .dot-icon {
                           margin-right: 15px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        display: inline-block;
                        &.red-color {
                          background: #FF5B5B;
                        }
                        &.blue-color {
                          background: #57AEFF;
                        }
                        &.green-color {
                          background: #0DC509;
                        }
                        &.yellow-color {
                          background: #FFB661;
                        }
                        &.grey-color {
                          background: #B1B1B1;
                        }
                      }
                    }
                    &:nth-child(3),&:nth-child(4) {
                      text-align: left;
                    }
                  }
                }
              }
            }
          }
          .customer-table-pagination {
            border-top: 1px solid #E7E7E7;
            .table-pagination-row {
              padding: 8px 20px;
              @include media-breakpoint-down(sm) {
                padding: 8px 12px;
              }
              .table-prev {
                .btn-next-prev {
                  background-color: transparent;
                  border: none;
                  font-family: Montserrat;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 20px;
                  color: #0085FF;
                  &:hover {
                    color: #000000;
                  }
                }
              }
              .table-pagination-number {
                .btn-number {
                  background-color: transparent;
                  border: none;
                  font-family: Montserrat;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 20px;
                  color: #0085FF;
                  padding: 4px;
                  width: 30px;
                  height: 30px;
                  @include media-breakpoint-down(sm) {
                    width: 20px;
                    height: 20px;
                  }
                  &:hover {
                    color: #000000;
                  }
                  &:last-child, &:nth-last-of-type(2) {
                    @include media-breakpoint-down(sm) {
                      display: none;
                    }
                  }
                  &:nth-last-of-type(3), &:nth-last-of-type(4) {
                    @include media-breakpoint-down(xs) {
                      display: none;
                    }
                  }
                }
              }
            }
          }
          .customer-table-mobile {
            display: none;
            @include media-breakpoint-down(sm) {
              display: block;
            }
            .table {
              th {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                border-bottom: 1px solid #E7E7E7;
                vertical-align: middle;
                .th-filter {
                  .btn {
                    svg {
                      fill: #0085FF;
                    }
                  }
                }
              }
              td {
                font-family: Montserrat;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #000000;
                vertical-align: middle;
                a {
                  color: #000000;
                }
                .location-col {
                  .td-dot {
                    padding: .375rem .75rem;
                    .dot-icon {
                      width: 20px;
                      height: 20px;
                      display: inline-block;
                      border-radius: 50%;
                      &.red-color {
                        background: #FF5B5B;
                      }
                      &.blue-color {
                        background: #57AEFF;
                      }
                      &.green-color {
                        background: #0DC509;
                      }
                      &.yellow-color {
                        background: #FFB661;
                      }
                      &.grey-color {
                        background: #B1B1B1;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      
      .shipping-wrap {
        h5 {
          margin-top: 18px;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #595959;
        }
        .shipment-element {
            background: #FFFFFF;
            border-radius: 15px;
            .table {
                thead {
                    tr {
                        th {
                            border: 0;
                            width: 5%;
                            &:last-child {
                                width: 25%;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            border-top: 0;
                        }
                    }
                }
            }
            
        }
      }
      h5 {
        margin-top: 18px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #595959;
      }
      .customer-card {
        background: #FFFFFF;
        border-radius: 15px;
        .information-card {
            display: flex;
            justify-content: space-between;
            padding: 16px;
            .info {

                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .text {
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: capitalize;
                    color: #504F4F;
                }
                h6 {
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 15px;
                    text-transform: uppercase;
                    color: #000000;
                }
            }
        }
      
    }
   .note-card {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 16px 0;
    span {
        padding: 0 16px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
          color: #000000;
    }
    p {
        margin-top: 12px;
        padding: 0 16px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #504F4F;
    }
    .footer-btn {
        border-top: 1px solid #E7E7E7;
        padding-top: 10px;
        .table-prev {
            .btn-next-prev {
              background-color: transparent;
              border: none;
              font-family: Montserrat;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #0085FF;
              &:hover {
                color: #000000;
              }
            }
          }
    }
 
   }
   .note-box {
       margin-top: 20px;
    background: #FFB661;
    border-radius: 15px;
    padding: 18px;
    h5 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 16px;

    }
    .content-note {
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 25px;
        padding: 18px;
        p {
            font-size: 13px;
            line-height: 24px;
            margin-bottom: 0;
            color: #000000;
        }
       
    }
    .btn-save {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
           a {
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    }
   }
}